body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    z-index: 1;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}
/* header-top */
.ms_header-top {
    background-color: black;
    text-align: right;
    line-height: 0;
}

.ms_header-top img {
    width: 70px;
    margin: 7px 1%;
    object-fit: contain;
}
/* drop_down */
.ms_dropdown {
    width: 100%;
    height: fit-content;
    border: 0 solid white;
}

.navbar-nav .nav-link.ms_nav_link {
    color: black;
}

.navbar-nav .nav-link.ms_nav_link:hover, 
.navbar-nav .nav-link.ms_nav_link:active, 
.navbar-nav .nav-link.ms_nav_link:focus, 
.navbar-nav .nav-link.show.ms_nav_link {
    color: #0d6efd;
}
/* toggle */
.ms_toggle {
    font-size: 0.7rem;
    vertical-align: middle;
}

.ms_toggle i {
    transition: 0.4s;
}

.navbar-nav .nav-link.ms_nav_link.show i {
    transform: rotate(180deg);
}
/* ms_btn_dark */
.ms_btn_dark:hover {
    opacity: 0.7;
}
/* search border my_style */
@media screen and (min-width:992px) {
    .border {
        border: 0px solid transparent!important;
    }
}
/* jumbo */
.ms_jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    color: white;
}

.ms_jumbo-height {
    height: 600px;
}

.ms_returnal_logo {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ms_returnal_logo img{
    width: 60%;
}

@media screen and (min-width:992px) {
    .ms_returnal_logo img{
        width: 30%;
    }
}
/* highlights */
.ms_highlights .ms_thumb {
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 13px;
    overflow: hidden;
    transition: 0.2s;
}

.ms_highlights .ms_thumb.ms_active {
    border: 2px solid #0d6efd;
}

.ms_highlights .ms_thumb:hover {
    transform: translateY(-5px);
}

.ms_thumb img {
    border-radius: 9px;
}

.ms_uppercase {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.ms_ps5_thumb {
    height: 100%;
}

.ms_ps5_thumb img {
    filter: opacity(0.6);
}

.ms_ps5_thumb img:hover,
.ms_ps5_thumb.ms_active img {
    filter: opacity(1);
}

.ms_ps5_thumb.ms_active {
    border-bottom: 2px solid #0d6efd;
}

.ms_thumb_text {
    padding-top: 20px;
    font-size: 1rem;
}

.ms_jumbo.ms_banner {
    background-position: center;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_ittakestwo_logo {
    width: 60%;
}

@media screen and (min-width: 992px) {
    .ms_ittakestwo_logo {
        width: 30%;
    }

}

.ms_gallery_thumb img {
    border-radius: 15px;
}