body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    z-index: 1;
}

.ms_header-top {
    background-color: black;
    text-align: right;
    line-height: 0;
}

.ms_header-top img {
    width: 60px;
    margin: 5px 1%;
    object-fit: contain;
}

.ms_dropdown {
    width: 100%;
    height: fit-content;
    border: 0 solid transparent;
}

.ms_lens {
    width: 40px;
}

.ms_jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    color: white;
}

.ms_jumbo-height {
    height: 600px;
}

.ms_returnal_logo {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ms_returnal_logo img{
    width: 60%;
}

@media screen and (min-width:992px) {
    .ms_returnal_logo img{
        width: 30%;
    }
}

.ms_highlights .ms_thumb {
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 13px;
    overflow: hidden;
}

.ms_highlights .ms_thumb.ms_active {
    border: 2px solid blue;
}

.ms_highlights .ms_thumb img {
    border-radius: 9px;
    width: 100%;
}

.ms_ps5_thumb img {
    width: 100%;
    filter: opacity(0.6);
}

.ms_ps5_thumb img:hover,
.ms_ps5_thumb.ms_active img {
    filter: opacity(1);
}

.ms_ps5_thumb.ms_active {
    border-bottom: 2px solid blue;
}